node_modules/
.turbo/
dist/
build/
.output/
.imports/
secrets/
.env
.env.*
*.log
nohup.out
package-lock.json
temp.txt
apps/client/shows
misc
misc/old-reel-code
.vscode/bookmarks.json
**/data/
**/secrets/
**/cookies/
