node_modules/
.turbo/
dist/
build/
.output/
.imports/
secrets/
.env
.env.*
*.log
nohup.out
package-lock.json
temp*
apps/client/shows
misc
misc/old-reel-code
.vscode/bookmarks.json
**/data/
**/secrets/
**/cookies/
*cred.js
*cred.txt
apps/android/.build-cache
build.apk
build-phase
usb-bkup/
